{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>B I G</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
  
  
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">B  I  G</span>     
        <div class="mdl-layout-spacer"></div>      
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link ov-btn">Overview</a>
          <a class="mdl-navigation__link sc-btn">Credit Breakdown</a>
          <a class="mdl-navigation__link leed-btn">LEED vs. Non-LEED</a>
          <a class="mdl-navigation__link cluster-btn">Clustering</a>
          <a class="mdl-navigation__link abt-btn">What is LEED?</a>
          <a class="mdl-navigation__link blog-btn" href="http://data-science-tiy.github.io/blog/">Blog</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">B I G</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link ov-btn">Overview</a>
        <a class="mdl-navigation__link sc-btn">Credit Breakdown</a>
        <a class="mdl-navigation__link leed-btn">LEED vs. Non-LEED</a>
        <a class="mdl-navigation__link cluster-btn">Clustering</a>
        <a class="mdl-navigation__link abt-btn">What is LEED?</a>
        <a class="mdl-navigation__link blog-btn" href="http://data-science-tiy.github.io/blog/">Blog</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="overview">
        
      </div>
      <div class="scoring">
        
      </div>
      <div class="leedvs">
        
      </div>
      <div class="about">
        
      </div>
      <div class="cluster">
        
      </div>
    </main>
  </div>
 

  <script src="{% static 'js/vendor.js' %}"></script>
  <script src="{% static 'js/views.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>
