<div class="abt-container">
  <div>
    <h2 class="section-header">What is LEED?</h2>
  </div>
  
  <div class="abt-content">
    <p>
    LEED (Leadership in Energy and Environmental Design) provides a framework and rating system for sustainable design, construction, operations, and maintenance of new and existing buildings (and, more recently, neighborhoods and communities, but we stuck to analyzing the individual building data). Our focus is the Building and Construction rating system, New Construction versions 2.1, 2.2. and 2009.
    </p>
  </div>
  
  <div class="abt-content">
    <table class="abt-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">LEED-NC</th>
          <th>Year Published</th>
          <th>Maximum Points</th>
        </tr>
      </thead>
      <tbody>
    	<tr>
          <td class="mdl-data-table__cell--non-numeric">Version 2.</td>
          <td>2000</td>
          <td>69</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Version 2.1</td>
          <td>2002</td>
          <td>69</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Version 2.2</td>
          <td>2002</td>
          <td>69</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Version 2009 (also called v3)</td>
          <td>2009</td>
          <td>110</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="abt-content">
    <h3>Versions of LEED we analyzed:<h3>
    <p>
    There is currently a LEED v4, but recently released and very few datasets are available, LEED 2009 can still be used until October 2016. We used the last three versions LEED 2009 (also referred to as v3) and LEED v.2.1 and v2.2 for our analysis. 
    </p>
  </div>
  <div class="abt-summary-table-and-content"> 
    <div class="abt-summary-table-content-container">
      <div>
        <h4>LEED 2009</h4>
        <p>
        LEED 2009 was built using the previous LEED 2.2 version. The fundamental change to LEED 2009 was the revised credit ratings to reflect significant technological advancements in the industry. Also, Regional Priority (RP) extra points were added. Projects can earn up to 10 bonus points for credits based on location (e.g. in dry a climate reducing water consumption is worth an additional point) and Innovation and Design. Different regions of the country recognize different credits as extra points. 
        </p>
        <p>
        Under LEED 2009, there are 100 possible base points distributed across six credit categories: Sustainable Sites, Water Efficiency, Energy and Atmosphere, Materials and Resources, Indoor Environmental Quality, Innovation in Design. 
        </p>
      </div>
      <div>
        <h4>LEED versions 2.1 and 2.2</h4>
        <p>
        The major difference between LEED 2.1 and 2.2 is the Energy and Atmosphere, Credit 2. Originally, in LEED 2.1, the credit was subdivided into three credits Renewable Energy 5%, 10% and 20%. LEED 2.2 grouped the credits into one and offered three points for each of the levels. 
        </p>
      </div>
    </div>
    
    <div class="abt-summary-table-container">
      <div>
        <h6 class="abt-summary-table-header">
         LEED by Version and Certification Level
        </h6>
      </div>
      <div>
        <table class="abt-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric"></th>
              <th>v.2009</th>
              <th>v.2.x</th>
            </tr>
          </thead>
          <tbody>
        	<tr>
              <td class="mdl-data-table__cell--non-numeric">Base Point</td>
              <td>100</td>
              <td>64</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Innovation in Design </td>
              <td>6</td>
              <td>5</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Regional Priority</td>
              <td>4</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Total Possible Points</td>
              <td>110</td>
              <td>69</td>
            </tr>
        	<tr>
              <td class="mdl-data-table__cell--non-numeric">Certified</td>
              <td>40-49</td>
              <td>26-32</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Silver</td>
              <td>50-59</td>
              <td>39-51</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Gold</td>
              <td>60-79</td>
              <td>36-51</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Platinum</td>
              <td>80+</td>
              <td>52+</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
    
    
    
