<div class="intro-container">
    <h1 class="intro-header">Energy Analysis LEED vs Non-LEED<span class="style-intro-header"></span></h1>
    <div class="intro-image"></div>
    <div class="intro-text">
        <p>
          NYC Open Data provides anual energy consumption for all city buildings. We compared the green house gas emissions, one measure of energy consumption, for buildings built to LEED standards and similar buildings. Similar buildings are those within +/- 10% square foot and of the same use type, in these case studies all multifamily buildings. The unit of measure is MtCO2e, or Million metric tons of carbon dioxide equivalent. MtCO2e aggregates different green house gases into a single measure, using global warming potentials.
        </p>
        <p>
            Three measurements are used in the analysis - total, direct and indirect emissions. Direct emissions are from on-site fossil fuel combustion. Indirect are from energy generated in one location, but consumed in another, such as electricity and district steam. Total emissions are the cumulative direct and indirect.
        </p>
      </div> 
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">Building 1892 Analysis</h3>
    <div class="description plotly-leedvs1-desc">
        Description: Greenhouse gas emissions for Building located at 303 East 33rd Street, New York City compared to an average of 830 other similar buidlings in NYC.

        Intersting Findings: We expected the LEED designed buidlings to use less direct and indrect energy. However, the indirect emissions are more than double for the LEED designed buidling.

        Further analysis: Is this an outlier or a trend? How many more LEED designed buidlings produce greater emissions than the avaerage of similar buidlings?
    </div>    
    <div class="plotly-leedvs1-chart">
       <a href="https://plot.ly/~trippshealy/35/" target="_blank" title="Building 303 East 33 Street vs Average Similar Buildings" style="display: block; text-align: center;"><img src="https://plot.ly/~trippshealy/35.png" alt="Building 303 East 33 Street vs Average Similar Buildings" style="max-width: 100%;width: 960px;"  width="960" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
       <script data-plotly="trippshealy:35"  src="https://plot.ly/embed.js" async></script>
    </div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">Building 3924 Analysis</h3>
    <div class="description plotly-leedvs2-desc">
        Description: Greenhouse gas emissions for Building located at 149 East 85 Street, New York City compared to an average of 145 similar buidlings in NYC.

        Intersting Findings: The indirect emissions are extremely high and direct emission extremely low for the LEED designed building compared to the average similar building. We expected the LEED designed buidlings to use less indrect energy.

        Further analysis: Is this an outlier or a trend? On average do LEED buildings produce more inderect emissions?
    </div>    
    <div class="plotly-leedvs2-chart">
        <a href="https://plot.ly/~trippshealy/33/" target="_blank" title="Building 149 East 85 Street vs Average Similar Buildings" style="display: block; text-align: center;"><img src="https://plot.ly/~trippshealy/33.png" alt="Building 149 East 85 Street vs Average Similar Buildings" style="max-width: 100%;width: 960px;"  width="960" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="trippshealy:33"  src="https://plot.ly/embed.js" async></script>
    </div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">Building 4572 Analysis</h3>
    <div class="description plotly-leedvs3-desc">
        Description: Greenhouse gas emissions for Building located at 628 West 113th Street, New York City compared to the average of 966 other similar buidlings in NYC.

        Intersting Findings: The LEED designed buidling produces less greenhouse gas emissions.

        Further analysis: Consider density of the buidling use in comparison that of the similar buidlings compared.
    </div>    
    <div class="plotly-leedvs3-chart">
        <a href="https://plot.ly/~trippshealy/31/" target="_blank" title="Building 628 West 113th Street vs Average Similar Buildings" style="display: block; text-align: center;"><img src="https://plot.ly/~trippshealy/31.png" alt="Building 628 West 113th Street vs Average Similar Buildings" style="max-width: 100%;width: 960px;"  width="960" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
        <script data-plotly="trippshealy:31"  src="https://plot.ly/embed.js" async></script>
    </div>
</div>