<div class="intro-container">
    <h1 class="intro-header">Leed vs Non-LEED Buildings<span class="style-intro-header"></span></h1>
    <div class="intro-image"></div>
    <div class="intro-text">
        <p>
          
        </p>
        <p>

        </p>
        <p>
          
        </p>
      </div> 
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header"></h3>
    <div class="description plotly-leedvs1-desc">

    </div>    
    <div class="plotly-leedvs1-chart"></div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header"></h3>
    <div class="description plotly-leedvs2-desc">

    </div>    
    <div class="plotly-leedvs2-chart"></div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header"></h3>
    <div class="description plotly-leedvs3-desc">

    </div>    
    <div class="plotly-leedvs3-chart"></div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header"></h3>
    <div class="description plotly-leedvs4-desc">

    </div>    
    <div class="plotly-leedvs4-chart"></div>
</div>
<div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header"></h3>
    <div class="description plotly-leedvs5-desc">

    </div>    
    <div class="plotly-leedvs5-chart"></div>
</div>