<div class="intro-container">
    <h1 class="intro-header">Build it <span class="style-intro-header">Green</span></h1>
        <div class="intro-image"></div>
    <div class="intro-text">
        <p>
          Data Science and Visualizations for Green Building Design
        </p>
        <p>
          Buildings consume a lot of energy (roughly 40% in the US)! More thoughtful design of buildings can help reduce energy consumption, cut CO2 emissions and improve overall air quality. A framework for sustainable design, called LEED (Leadership in Energy and Environmental Design), is helping improve building performance. Over the last 15 years, LEED has become main stream with more than 80,000 buildings and ** sqft designed and certified.  
        </p>
        <p>
          We analyzed the data for all LEED buildings and found LEED is making a big dent in the building industry but there is room for improvement. Checkout the stats below, or dive deeper, of the Scoring System and LEED vs Non-LEED tabs.
        </p>
      </div>  
  </div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">How does each state perform on LEED?</h3>
    <div name="descriptor" id="map-dropdown">
      <div value="number_of_projects" checked="checked">Total</div>
      <div value="number_of_projects_population_corrected">Pop. Adj.</div>
      <div value="number_certified">Certified</div>
      <div value="number_gold">Gold</div>
      <div value="number_silver">Silver</div>
      <div value="number_platinum">Platinum</div>
    </div>
    <div class="map"></div>
  </div>
  <!--
    <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">Total Projects by City (Population Adjusted)</h3>
    <div name="descriptor" id="plotly-dropdown">
      <div checked="checked">Total</div>
      <div>Pop. Adj.</div>
    </div>
    <div class="plotly-total">
       <a href="https://plot.ly/~jdhiggins/43/" target="_blank" title="Population Adjusted LEED Certified Projects&lt;br&gt;(Click legend to toggle traces)" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/43.png" alt="Population Adjusted LEED Certified Projects&lt;br&gt;(Click legend to toggle traces)" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
       <script data-plotly="jdhiggins:43"  src="https://plot.ly/embed.js" async></script>
    </div>
    <div class="plotly-adjusted">
       <a href="https://plot.ly/~jdhiggins/41/" target="_blank" title="Total LEED Certified Projects&lt;br&gt;(Click legend to toggle traces)" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/41.png" alt="Total LEED Certified Projects&lt;br&gt;(Click legend to toggle traces)" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
       <script data-plotly="jdhiggins:41"  src="https://plot.ly/embed.js" async></script>
    </div>
  </div>
  -->
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">Has LEED usage grown over time?</h3>
    <div name="descriptor" id="trend1-dropdown">
      <div value="certLevels" checked="checked">Cert Level</div>
      <div value="regVsCert">Reg vs Cert</div>
      <div value="newConst">NC Versions</div>
      <div value="buildType">Residential</div>
    </div>
    <div class="trend-1"></div>
  </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">How might you classify LEED projects?</h3>
    <div name="descriptor" id="trend2-dropdown">
      <div value="0" checked="checked">LEED 2009</div>
      <div value="1">LEED 2.2</div>
      <div value="2">LEED 2.1</div>
    </div>
    <div class="trend-2"></div>
  </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <h3 class="section-header">How are builders and developers using the LEED system?</h3>
    <div name="descriptor" id="trend3-dropdown">
      <div value="0" checked="checked">LEED 2009</div>
      <div value="1">LEED 2.2</div>
      <div value="2">LEED 2.1</div>
    </div>
    <div class="trend-3"></div>
  </div>
</div>