<div class="mdl-grid">
  <h2 class="section-header">LEED Implementation by State</h2>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <div name="descriptor" id="dropdown">
      <h5>Choose A Trend</h5>
      <div value="number_of_projects" checked="checked">Total LEED Projects</div>
      <div value="number_certified">Certified Projects</div>
      <div value="number_gold">Gold Level Projects</div>
      <div value="number_silver">Silver Level Projects</div>
      <div value="number_platinum">Platinum Level Projects</div>
      <div value="number_of_projects_population_corrected">Total Projects Per 10K Residents</div>
    </div>
    <div class="map"></div>
  </div>
  <div class="mdl-cell mdl-cell--10-col mdl-cell--10-col-tablet chart-container">
    <div class="trend-1"></div>
	  <div class="trend-2"></div>
  </div>
</div>