<div class="intro-container score-intro">
    <h1 class="intro-header score-intro-header">LEED Credit Breakdown<span class="style-intro-header"></span></h1>
    <div class="intro-image"></div>
    <div class="intro-text score-intro-text">
        <p>
          Trends in LEED credit completion vary by year and level of achievement (i.e. silver, gold, platinum). Individual credits are  broken down to visualize which credits are the most and least common achieved. Credits related to low emitting materials and reducing water consumption appear to become industry standards. While credits like innovative waste water technologies are almost never achieved. From version 2.1 to 2.2 the overall trends in points achieved are positive. However, from version 2.2 to 2.9 the trend is not as positive. The scoring system changed from 69 points to 110 possible points. Some points became harder to achieve while others appear easier. 
        </p>
      </div>  
  </div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet chart-container">
    <div class="left-side left-side-score1 mdl-cell mdl-cell--3-col">
      <h4 class="section-header left-side-score1-section-header">Credit Completion</h4>
      <p>
          <strong>Interesting Findings:</strong> Credits vary in achievement. Some are easier or harder to meet. Those hard to meet (average less than 0.2 points) include on-ste renewable energy (EAc2), Daylight views (EQ8.1), Building and material reuse/renewable (MRc1, 3, 8), and innovaitve waste water technologies.
        </p>
        <p>
          <strong>Further analysis:</strong> analyze the difference between indsutry types (e.g. residential, commerical, retail) or owner type (non-profit, federal, for-profit).
      </p>
      <div name="descriptor" id="scoring1-dropdown">
        <div value="0" checked="checked">LEED 2009</div>
        <div value="1">LEED 2.2</div>
        <div value="2">LEED 2.1</div>
      </div>
    </div> 
    <div class="overallbar-container mdl-cell mdl-cell--9-col">
      <div class="overallbar">
      </div>
      <div class = "description scoring1-desc">
          <p>
            <strong>Description:</strong> Average points achieved for each LEED version by year. Credits valued more than 1 point were normalized to a 0 to 1 scale.
          </p>
      </div> 
    </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet chart-container">
    <div class="left-side left-side-score1 mdl-cell mdl-cell--3-col">
      <h4 class="section-header left-side-score1-section-header">Annual Credit Completion</h4>
      <!--
      <div>
        <p>
          <strong>Interesting Findings:</strong> Credits vary in achievement. Some are easier or harder to meet. Those hard to meet (average less than 0.2 points) include on-ste renewable energy (EAc2), Daylight views (EQ8.1), Building and material reuse/renewable (MRc1, 3, 8), and innovaitve waste water technologies.
        </p>
        <p>
          <strong>Further analysis:</strong> analyze the difference between indsutry types (e.g. residential, commerical, retail) or owner type (non-profit, federal, for-profit).
        </p>
      </div>
      -->
      <div class="dropdowns">
        <div name="descriptor" id="scoring-version1-dropdown">
          <div value="0" checked="checked">LEED 2009</div>
          <div value="1">LEED 2.2</div>
          <div value="2">LEED 2.1</div>
        </div>
        <div name="descriptor" id="scoring-category1-dropdown">
          <div value="eac" checked="checked">EA</div>
          <div value="eqc">EQ</div>
          <div value="extra">RP</div>
          <div value="idc">ID</div>
          <div value="mrc">MR</div>
          <div value="ssc">SS</div>
          <div value="wec">WE</div>
        </div>
      </div>  
    </div> 
    <div class="scoring2-container mdl-cell mdl-cell--9-col">
      <div class="cc-by-year mdl-cell mdl-cell--9-col">
           
      </div>
      <div class = "description scoring-desc">
        <button class="analysis-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Analysis
        </button>
          <p>
            <strong>Description:</strong> Average points achieved for LEED version 2009 by year. Credits valued more than 1 point were normalized to a 0 to 1 scale.
          </p>
      </div>
    </div>
  </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet chart-container">
    <div class="left-side left-side-score1 mdl-cell mdl-cell--3-col">
      <h4 class="section-header left-side-score1-section-header">Credit Completion by Certification Level</h4>
      <div class="dropdowns">
        <div name="descriptor" id="scoring-version2-dropdown">
          <div value="0" checked="checked">LEED 2009</div>
          <div value="1">LEED 2.2</div>
          <div value="2">LEED 2.1</div>
        </div>
        <div name="descriptor" id="scoring-category2-dropdown">
          <div value="eac" checked="checked">EA</div>
          <div value="eqc">EQ</div>
          <div value="extra">RP</div>
          <div value="idc">ID</div>
          <div value="mrc">MR</div>
          <div value="ssc">SS</div>
          <div value="wec">WE</div>
        </div>
      </div>
    </div>
    <div class="scoring2-container mdl-cell mdl-cell--9-col">
      <div class="cc-by-category mdl-cell mdl-cell--9-col">
      </div>
      <div class = "description scoring-desc">
        <button class="analysis-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Analysis
        </button>
          <p>
            <strong>Description:</strong> Average points achieved for LEED version 2009 by year. Credits valued more than 1 point were normalized to a 0 to 1 scale.
          </p>
      </div>      
    </div>
  </div>
  </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet chart-container chart-container-plotly">
      <div class="left-side left-side-score1 mdl-cell mdl-cell--3-col">
        <h4 class="section-header section-header-plotly left-side-score1-section-header">Annual Points Achieved</h4>  
        <div name="descriptor" id="scoring-plotly-dropdown">
          <div value="eac" checked="checked">Total</div>
          <div value="eqc">EA</div>
          <div value="idc">EQ</div>
          <div value="mrc">MR</div>
          <div value="ssc">SS</div>
          <div value="wec">WE</div>
          <div value="extra">RP & ID</div>    
        </div> 
      </div>
      <div class="scoring-plotly mdl-cell mdl-cell--9-col">
        <div class="total">
         <a href="https://plot.ly/~jdhiggins/132/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/132.png" alt="Score vs Year" style="max-width: 100%;width: 792px;"  width="792" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:78"  src="https://plot.ly/embed.js" async></script>
        </div>
        <div class = "description scoring-desc plotly-desc">
          <button class="analysis-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Analysis
          </button>
            <p>
              <strong>Description:</strong> Average points achieved for LEED version 2009 by year. Credits valued more than 1 point were normalized to a 0 to 1 scale.
            </p>  
        </div>      
      </div>
      <!--
      <div class="ea mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/84/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/84.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>  
      <div class="eq mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/80/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/80.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>
      <div class="mr mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/86/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/86.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>
      <div class="ss mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/76/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/76.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>
      <div class="we mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/82/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/82.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>
      <div class="rpid mdl-cell mdl-cell--9-col">
         <a href="https://plot.ly/~jdhiggins/88/" target="_blank" title="Score vs Year" style="display: block; text-align: center;"><img src="https://plot.ly/~jdhiggins/88.png" alt="Score vs Year" style="max-width: 100%;"  onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
         <script data-plotly="jdhiggins:84"  src="https://plot.ly/embed.js" async></script>
      </div>
      -->
    </div>
    <!--
    <div class = "description scoring-plotly-ea-desc">
      <p>
        Description: Average points achieved for LEED version 2009 - Energy and Atmosphere credits.
        Interesting Findings: Scores in EAc1 - Optimize Energy Performance have declined, on average, from 9.49 to 7.96 (out of 19 possible) and scores on EAc2 - On-site Renewable Energy have declined from 1.70 to .87 (out of 7 possible).
        Further analysis: How can LEED encourage increased performance in this area? These credits are extremely important to incentivize, since they are the most directly related to greenhouse emmissions. Should certification level be linked more directly to these credits?
      </p>
    </div>
    <div class = "description scoring-plotly-eq-desc">
      <p>
        Description: Average points achieved for LEED version 2009 - Indoor Environmental Quality credits.
        Interesting Findings: Scores in Indoor Environmental Quality have descreased since 2012, EQc4.4 - Low-Emitting Materials (Composite Wood and Agrifiber Products) has contributed most to the decline.
        Further analysis: Have costs in this space increased above inflation?
      </p>
    </div>
    <div class = "description scoring-plotly-mr-desc">
      <p>
        Description: Average points achieved for LEED version 2009 - Materials and Resources credits.
        Interesting Findings: Scores in MRc 1.2 - Building Reuse (Maintain Existing Interior Nonstructural Elements), MRc3 - Materials Reuse, and MRc6 - Rapidly Renewable Materials are almost never achieved.
        Further analysis: When score points are not achieved, should they be reanalyzed? Do they not apply to all projects (perhaps for MRc3)? Are they too expensive relative to the point total? How could they be incentivized in the next version?
      </p>
    </div>
    <div class = "description scoring-plotly-ss-desc">
      <p>
        Description: Average points achieved for LEED version 2009 Sustainable Sites credits by year.
        Intersting Findings: Performance on these credits are relatively stable on the NC-2009 version. The dip in years 2012 and 2013 are mostly due to SSc4.1 - Alternative Transportation—Public Transportation Access.
        Further analysis: How to encourage completion of SSc5.1 - Site Development (Protect or Restore Habitat) and SSc3 - Brownfield Redevelopment.
      </p>
    </div>
    <div class = "description scoring-plotly-we-desc">
      <p>
        Description: Average points achieved for LEED version 2009 - Water Efficiency credits.
        Interesting Findings: Scores in WEc1 - Water Efficient Landscaping and WEc2 - Innovative Wastewater Technologies have experienced declines, even as water use and drought has been a major policy concern.
        Further analysis: How can LEED encourage increased performance in this area? Can LEED take the lead in pushing for new technologies and adoption of water efficient techniques? If WEc2 is rarely achieved, how can this point be changed or encouraged. Is the cost for achieving this credit too expensive?
      </p>
    </div>
        <div class = "description scoring-plotly-rpid-desc">
      <p>
        Description: Average points achieved for LEED version 2009 - Innovation in Design and Regional Priority Credits (referenced as Extra).
        Interesting Findings: Scores are relatively stable in these categories. Almost every project gets a credit for using a LEED Certified professional (IDc2). Perhaps this credit is unnecessary, since having a LEED professional seems to be essentially required to achieve certification?
        Further analysis: How are the other Innovation in Design credits awarded? Is there variablity across projects or do most score near the average? What is the average completion of the different regional priority credits?
      </p>
    </div>
    -->     
  </div>
</div>