@import 'reset';
@import 'c3';
@import 'material';

body {
  background-color: #FEFFFE;
}

.mdl-layout__header {
  background-color: #FEFFFE;
}

.page-content {
  margin: 0 auto;
}

.section-header {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.chart-container {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

svg {
  display: block;
  margin: 0 auto;
}

.btn-map, .btn-trend1, .btn-trend2, .btn-trend3 {
    margin: 0.5em 0;
    display: block;
}

.btn-map.on, .btn-trend1.on, .btn-trend2.on, .btn-trend3.on {
    background-color: #777;
    color: white;  
}

#map-dropdown, #trend1-dropdown, #trend2-dropdown, #trend3-dropdown {
  display: inline-block;
}

.map, .trend-1, .trend-2, .trend-3 {
  display: inline-block;
  float: right;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}